
.document-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    margin-bottom: 0;
    margin-top: 0;
    max-height: 85px;
}

div.document-title > p > em {
    background: #FFB74D;
}


div.document-title > p > em {
    background: #FFB74D;
}

em.mimetypes {
    font-style: italic;
    font-weight: 200;
}

